<div class="container-fluid animate__animated animate__fadeInDown  animate__fast p-3">
    <div class="row justify-content-center">

        <label class="lead">Nº Habitación</label>
        <select class="form-control form-control-sm mb-2" [(ngModel)]="habitation.id" (change)="selectHabitation($event.target.value)">
            
            <option *ngFor="let item of habitations" name="number" value="{{item.id}}">{{ item.number}}</option>
          </select>

        <!-- Habitación-->
        <form class="col-12 col-lg-4 form-reservation" #form="ngForm" (ngSubmit)="habitationSubmit(form) ">
            <h4>HABITACIÓN</h4>
            <div class="form-group">
                <label>Precio por Habitación</label>
                <input type="text" class="form-control text-center" name="price" [(ngModel)]="'$'+habitation.price" disabled>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea class="form-control textarea text-center" class="form-control" name="description" [(ngModel)]="habitation.description" disabled></textarea>
            </div>
        </form>

        <!-- Cliente -->
        <form class="col-12 col-lg-4 form-reservation" #form="ngForm" (ngSubmit)="clientSubmit(form) ">
            <h4>CLIENTE</h4>
            <div class="form-group">
                <label>cedula</label>
                <input type="text" class="form-control text-center" name="cedula" ngModel>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control text-center" name="name" ngModel>
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control text-center" name="lastname" ngModel>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control text-center" name="email" ngModel>
            </div>
            <div class="form-group">
                <label>Telf</label>
                <input type="text" class="form-control text-center" name="telf" ngModel>
            </div>

        </form>

        <!-- RESERVACION-->
        <form class="col-12 col-lg-4 form-reservation" #form="ngForm" (ngSubmit)="habitationSubmit(form) ">
            <h4>RESERVACION PARA:</h4>
            <div class="form-group">
                <label>Personas</label>
                <input type="number" class="form-control text-center" name="cant" ngModel>
            </div>

        </form>

        <button class="btn btn-lg">Enviar Reservación</button>

    </div>
</div>